/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .mobile-header {
        display: none;
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
        cursor: pointer;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        cursor: pointer;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        z-index: 2;
        padding: 60px;
        background: #fff;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        font-weight: 500;
        color: #333;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero .info {
        width: 100%;
        text-align: center;
    }

    .hero .desc {
        width: 60%;
        margin: 30px auto auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        flex: 1;
        margin: 0;
    }

    .list-featured {
        --cols: 2;
    }

    .stats .row {
        flex-direction: column-reverse;
    }

    .stats .info {
        padding: 0;
    }

    .stats .img-block {
        margin-top: 40px;
    }

    .stats .info,
    .stats .img-block,
    .stats .info .desc {
        width: 100%;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.4rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row:first-child {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }

    .footer .column {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }
}